body{
    width: 100%;
    height: 100%;
    background-image: url('../img/wolf.jpg');
    background-attachment: fixed;
    margin: 0%;
    color: whitesmoke;
    font-family: Pacifico;
    position: relative;
    font-size: 1.5rem;
}



nav,ul,li{
    display: inline;
    padding: 2%;
    text-align: center;
    
   
}

a{
    color:whitesmoke;
    text-align: right;
    opacity: 1;
}

.loup{
    float: left;
    margin-top: 1rem;
    z-index: 4;
}

hr {
	border-top: 4px double #8c8b8b;
    text-align: center;
    z-index: 1;
}
hr:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background:transparent;
	color: red;
	font-size: 18px;
}

.acceuil{
    position: relative;
    width:%;
    height: px;
    background-color: transparent;
}

.me{
    position: absolute;
    top: 7%;
    right: 10%;
    text-align: center;
}
h2{
    text-align: center;
    z-index: 3;
    color: black;
}
h3{
    text-align: center;
    z-index: 3;
    color: black;
}

p{
    color: black;
    opacity: 1;
}
.presentation{
    position: relative;
    top: 49rem;
    width: 100%;
    height: 400px;
    background-color: rgba(65, 105, 225, .6);
    opacity: 0.70;
    border: groove royalblue ;

}
.marge{
    position: absolute;
    top: 43rem;
    height: 1%;
    width: 100%;
    background-color:transparent;
}

.competence{
    position: relative;
    top: 54rem;
    width: 100%;
    height: auto;
    background-color: rgba(102, 51, 153, .6);
    border: groove rebeccapurple;
}
.marge2{
    position: absolute;
    top: 73rem;
    height: 1%;
    width: 100%;
    background-color:transparent;
}

.projet{
    position: relative;
    top: 56rem;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 128, .6);
    border: groove rgb(0, 0, 128)
}

.projet img {
    width: 100%;
	height: 100%;
	margin-bottom: -5px;
	transition: all 0.3s ease-out;
	position: relative;
	z-index: 2;
}

.marge3{
    position: absolute;
    top: 115rem;
    height: 1%;
    width: 100%;
    background-color:transparent;  
}


.contact{
    position: relative;
    top: 60rem;
    width: 100%;
    height: auto;
    background-color: rgba(153, 50, 204, .6) ;
   border: groove darkorchid;
   text-align: center;
}

.marge4{
    position: absolute;
    top: 175rem;
    height: 1%;
    width: 100%;
    background-color:transparent; 
}
@media screen and (max-width: 640px){
    {
        color: aqua;
       }
}
